@import 'var';

.dropdown_content {
    display: none; /* Hide dropdown content by default */
    position: absolute; /* Position it below the button */
    right: auto;
    z-index: 1;
    background-color: $footerColor;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.5);
    border-radius: 16px;
    padding: 16px;
    margin-top: 8px;
    opacity: 0; /* Start invisible */
    transition: visibility 0s, opacity .3s ease-in-out;
    visibility: hidden;
}

/* Ensure vertical alignment in center for dropdown items */
.dropdown_content > ul {
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    flex-wrap: wrap;

    li > a {
            font-size: 14px;
        }
}

.show {
    display: block; /* Make it block to show */
    opacity: 1; /* Make visible */
    visibility: visible;
}