@import 'var';

.dropdown_content {
    display: none; /* Hide dropdown content by default */
    position: absolute; /* Position it below the button */
    z-index: 1;
    background-color: $footerColor;
    border-radius: 16px;
    padding: 8px;
    margin-top: 8px;
    opacity: 0; /* Start invisible */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth animation */
    transform: translateY(-20px); /* Start higher up for the drop effect */
}

.show {
    display: block; /* Make it block to show */
    opacity: 1; /* Make visible */
    transform: translateY(0); /* Drop down to original position */
}

/* Ensure vertical alignment in center for dropdown items */
.dropdown_content ul {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */

    li {
        margin-top: 8px;
    }

    &:last-child {
        margin-bottom: 8px;
    }
}
