@import 'var';

.dropdown_content {
    display: none; /* Hide dropdown content by default */
    position: absolute; /* Position it below the button */
    z-index: 1;
    background-color: $footerColor;
    border-radius: 16px;
    padding: 8px;
    margin-top: 8px;
    opacity: 0; /* Start invisible */
    left: 85%;
    transform: translate(-15%);
}

.show {
    display: block; /* Make it block to show */
    opacity: 1; /* Make visible */
    transform: translateX(0);
}

/* Ensure vertical alignment in center for dropdown items */
.dropdown_content ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */

    li {
        a {
            font-size: 12px;
        }
    }
}
