@import 'var';

.header {
    max-width: 480px;
    width: 100%;
    padding: 16px;

    &__list {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 30px;

        &__item {
            cursor: pointer;
            font-size: 20px;

            .toggle_apps_btn {
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: $fontColor;
                font-size: 24px;

                &:hover {
                    transform: rotate(180deg);
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
}