$mainFont: 'Inter', sans-serif;

$bgColor: #0c1217;
$footerColor: #111a21;
$footerColorLightTheme: #d9d9d9;
$fontColor: #eee;
$titleColor: #b6ffff;
$titleColorLightTheme: #009c9c;
$inputColor: #ffffff;
$inputColorLightTheme: #e5e5e5;
$crazyColor: #ff25cc;