@import 'reset';
@import 'var';
@import 'header';
// @import 'quotes';
@import 'dropdown';

body {
    height: 100vh;
    background: linear-gradient(45deg, #101010, $bgColor); /* white to light purple-blue */
    overflow: hidden;
    color: $fontColor;

    /* Adding a grainy effect */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-image: url('https://www.transparenttextures.com/patterns/grain.png'); /* Example texture */
        opacity: 0.15; /* Adjust opacity for subtle grain effect */
        z-index: 1;
    }
}

body.lightTheme {

    background: linear-gradient(45deg, white, #b3cde0);
    color: $bgColor;

    .header {
        &__list {
            &__item {
                a {
                    color: $bgColor;
                }
                .bi {
                    color: $bgColor;
                    
                }
            }
        }
    }

    .dropdown_content {
        background-color: $footerColorLightTheme;
    
        ul {
            li > a {
                color: $bgColor;
            }
        }
    }
    
    .main {
        &__title {
            color: $titleColorLightTheme;
        }

        &__input {
            border: 1px solid $bgColor;
            background-color: $inputColorLightTheme;
    
            &:hover {
                background-color: $footerColorLightTheme;
            }
        }
    
        // &__list {
        //     &__item {
        //         // &__link {
        //         //     color: $bgColor;
        //         // }
    
        //         &__btn {
        //             color: $bgColor;
        //             background-color: $footerColorLightTheme;
        //         }
        //     }
        // }

        // .popup {
        //     background-color: $footerColorLightTheme;
        //     color: $bgColor;
        // }
    }

    .footer {
        background-color: $footerColorLightTheme;
    
        p {
            color: $bgColor;
        }
    }

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@keyframes titleAnimation {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.main {
    padding: 8px;

    &__title {
        color: $titleColor;
        font-size: 48px;
        animation: titleAnimation 3s ease-in-out infinite;
    }

    #form {
        // display: block;
        // text-align: center;
        max-width: 414px;
        width: 100%;
    }

    &__input {
        padding: 16px;
        margin-top: 4px;
        border: 1px solid $bgColor;
        border-radius: 24px;
        background-color: $inputColor;
        width: 100%;

        &:hover {
            background-color: $fontColor;
        }

        &:focus {
            outline: none;
        }
    }

    // &__submit {
        
    // }

    // &__list {
    //     display: flex;
    //     gap: 24px;
    //     margin-top: 40px;

    //     &__item {
    //         display: flex;
    //         align-items: center;

    //         // &__link {
    //         //     color: $fontColor;
    //         //     text-decoration: underline;
    //         //     font-size: 12px;
    //         // }

    //         &__btn {
    //             cursor: pointer;
    //             color: $bgColor;
    //             background-color: $fontColor;
    //             border: none;
    //             border-radius: 8px;
    //             padding: 6px;
    //             font-size: 12px;

    //             span {
    //                 color: $crazyColor;
    //             }
    //         }
    //     }
    // }

}

.footer {
    background-color: $footerColor;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    text-align: center;

    p {
        font-size: 8px;
        opacity: 50%;
    }
        
}

/* Styles for mobile phones (portrait mode) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        max-width: 480px;
    }

    .dropdown_content > ul {
        flex-direction: column; /* Stack items vertically on smaller screens */
        width: 100%; /* Full width for smaller screens */
    }
}

/* Styles for mobile phones (landscape mode) */
@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .header {
        max-width: 767px;
    }

    .container {
        max-width: 767px;
    }

    .dropdown_content > ul {
        flex-direction: column; /* Stack items vertically on smaller screens */
        width: 100%; /* Full width for smaller screens */
    }
}

/* Styles for tablets (portrait mode) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .header {
        max-width: 768px;
    }

    .container {
        max-width: 768px;
    }

    .dropdown_content > ul {
        flex-direction: column; /* Stack items vertically on smaller screens */
        width: 100%; /* Full width for smaller screens */
    }
}

/* Styles for larger tablets (portrain mode) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header {
        max-width: 1024px;
    }

    .container {
        max-width: 1024px;
    }
}

/* Styles for tablets (landscape mode) */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
    .header {
        max-width: 1024px;
    }

    .container {
        max-width: 1024px;
    }
}

/* Styles for laptops and small desktops */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .header {
        max-width: 1200px;
    }

    .container {
        max-width: 1200px;
    }
}

/* Styles for larger desktop screens */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
    .header {
        max-width: 1440px;
    }

    .container {
        max-width: 1440px;
    }
}

/* Styles for ultra-wide or 4K displays */
@media only screen and (min-width: 1441px) and (max-width: 2560px) {
    .header {
        max-width: 2560px;
    }

    .container {
        max-width: 2560px;
    }
}
